<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="/public/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="/public/css/all.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="/public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="/public/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <%- include('part/dash-header.ejs'); %>
      
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">  
                        <h5>Welcome <%= session.name%>, Love to see you back. </h5>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                  <%if(rate){
                    for(var i =0; i<rate.length; i++){
                        if(rate[i].code == 'EUR'){
                            var euro = rate[i].rate;
                        }
                        if(rate[i].code == 'BCH'){
                            var bch = rate[i].rate;
                        }
                        if(rate[i].code == 'ETH'){
                            var eth = rate[i].rate;
                        }
                        if(rate[i].code == 'XRP'){
                            var xrp = rate[i].rate;
                        }
                        if(rate[i].code == 'GBP'){
                            var gbp = rate[i].rate;
                        }
                        if(rate[i].code == 'USD'){
                            var usd = rate[i].rate;
                        }
                    }
                } 
                 if(session.role =="Admin"){%>
                <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fab fa-btc"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Balance</p>
                    <center><p class="text-muted"> <%if(wallet){%><%=wallet.total.balance%><%}%></p></center>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fas fa-envelope-open-text"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Received</p>
                    <center><p class="text-muted"><%if(wallet){%><%=wallet.total.received%><%}%></p></center>
                </div> 
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-paper-plane"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Spent</p>
                    <center><p class="text-muted"><%if(wallet){%><%=wallet.total.spent%><%}%></p></center>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fas fa-exchange-alt"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">Ex. Rate</p>
                    <center><p class="text-muted">USD  <%=usd%></p></center>
                </div>
             </div>
		     </div>
			</div>
                 <!-- /. ROW  -->
                
                <hr />        
                       
                <div class="row">
                    <div class="col-md-6">
                      <!--   Kitchen Sink -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Transactions
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="transactions">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Trans. Fee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(wallet){
                                                for(var i = 0; i<wallet.transactions.length; i++){
                                                    var date = new Date(wallet.transactions[i].time);
                                            %>
                                            <tr>
                                                <td><%=date;%></td>
                                                <td><%=wallet.transactions[i].outputs[0].value;%></td>
                                                <td><%=wallet.transactions[i].fee;%></td>
                                            </tr>
                                            <% }
                                            }%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         <!-- End  Kitchen Sink -->
                    </div>
                    <div class="col-md-6">
                         <!--   Exchange Rates  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Current Exchange Rates
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Crypto/Fiat</th>
                                                <th>USD</th>
                                                <th>Euro</th>
                                                <th>GBP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BTC</td>
                                                <td><%=usd%></td>
                                                <td><%=euro%></td>
                                                <td><%=gbp%></td>
                                            </tr>
                                            <tr>
                                                <td>ETH</td>
                                                <td><%=(usd/eth).toFixed(2)%></td>
                                                <td><%=(euro/eth).toFixed(2)%></td>
                                                <td><%=(gbp/eth).toFixed(2)%></td>
                                            </tr>
                                            <tr>
                                                <td>BCH</td>
                                                <td><%=(usd/bch).toFixed(2)%></td>
                                                <td><%=(euro/bch).toFixed(2)%></td>
                                                <td><%=(gbp/bch).toFixed(2)%></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                          <!-- End  Basic Table  -->
                    </div>
                </div>
                <% } %> 
                <% if(session.role =='User'){ %>
                    <div class="row">
                        <div class="col-md-6">
                          <!--   Kitchen Sink -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    My Zakat
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Zakat Amount</th>
                                                    <th>Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(success){
                                                    for(var i = 0; i<success.length; i++){
                                                %>
                                                <tr>
                                                    <td><%=success[i].time;%></td>
                                                    <td><%=success[i].price;%></td>
                                                    <td><center><a href='<%=success[i].url%>'><i class="fas fa-external-link-alt"></i></a></center></td>
                                                </tr>
                                                <% }
                                                }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                             <!-- End  Kitchen Sink -->
                        </div>
                        <div class="col-md-6">
                             <!--   Exchange Rates  -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Current Exchange Rates
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Crypto/Fiat</th>
                                                    <th>USD</th>
                                                    <th>Euro</th>
                                                    <th>GBP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>BTC</td>
                                                    <td><%=usd%></td>
                                                    <td><%=euro%></td>
                                                    <td><%=gbp%></td>
                                                </tr>
                                                <tr>
                                                    <td>ETH</td>
                                                    <td><%=(usd/eth).toFixed(2)%></td>
                                                    <td><%=(euro/eth).toFixed(2)%></td>
                                                    <td><%=(gbp/eth).toFixed(2)%></td>
                                                </tr>
                                                <tr>
                                                    <td>BCH</td>
                                                    <td><%=(usd/bch).toFixed(2)%></td>
                                                    <td><%=(euro/bch).toFixed(2)%></td>
                                                    <td><%=(gbp/bch).toFixed(2)%></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                              <!-- End  Basic Table  -->
                        </div>
                    </div>

                <% } %>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/public/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="/public/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/public/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="/public/js/custom.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
       document.getElementById("dash-menu").className = "active-menu";
       $(document).ready(function() {
          $('#transactions').DataTable();
        } );
    </script>
    
   
</body>
</html>
